@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.overview-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // .map-section {
  //   width: 100%;
  //   padding-right: 30px;
  //   overflow: auto;
  //   max-height: 76vh;
  //   .video-cta-title {
  //     display: flex;
  //     align-items: center;
  //     margin-bottom: 1.4625rem;
  //     &.start {
  //       align-items: flex-start;
  //     }
  //   }
  //   .vehicle-init-props {
  //     display: flex;
  //     align-items: center;
  //     gap: 20px;
  //     // p {
  //     //   border: 1px solid #d6d6d6;
  //     // }
  //   }
  //   .camera-title {
  //     color: #2e1919;
  //     font-family: Nunito;
  //     font-size: 1.3rem;
  //     font-style: normal;
  //     font-weight: 400;
  //     line-height: normal;
  //     margin: 0;
  //   }
  //   .table-container-section {
  //     overflow: auto;
  //   }
  //   .vehicle-cta-back {
  //     padding-bottom: 0.96525rem;
  //     margin-bottom: 1.6525rem;
  //     border-bottom: 1px solid #e8e8e8;
  //     button {
  //       outline: none;
  //     }
  //   }
  //   .vehicle-row-item {
  //     display: flex;
  //     align-items: center;
  //     gap: 20px;
  //     button {
  //       cursor: default;
  //       outline: none;
  //     }
  //   }
  // }
  .police-stream-section {
    width: 100%;
    max-width: 464px;
    overflow: auto;
    height: 80vh;
    .live-feed-component {
      padding-left: 2rem;
      .live-feed-component-wrapper {
        overflow: auto;
        max-height: 69vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

.map-feed-item-component {
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 400px;
  border-bottom: 1px solid #eaeaea;
  .lf-media-section {
    width: 198px;
    height: 9.8125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    overflow: hidden;
    background: #000;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .lf-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    flex: 1;
    height: 11.8125rem;
    width: 202px;
    flex-shrink: 0;
    .lf-info-section-label {
      color: #4f4f4f;
      font-family: Nunito;
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      &.flag {
        color: #c21f1f;
      }
    }
    .lf-info-section-value {
      color: #000;
      font-family: Nunito;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 0.88rem;
      &.lf-reg-number {
        letter-spacing: 0.30625rem;
      }
    }
    .lf-info-bottom-value {
      margin: 0;
    }
    .lf-make-type {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 0.88rem;
      .lf-info-section-value {
        margin: 0;
        width: max-content;
      }
    }
    .lf-color {
      min-width: 0.875rem;
      min-height: 0.875rem;
      width: 0.875rem;
      height: 0.875rem;
      flex-shrink: 0;
      border-radius: 50%;
      &.border {
        border: 1px solid #e9e9e9;
      }
    }
  }
}

.lf-text-separator {
  background: #a6a6a6;
  width: 1px;
  height: 10px;
}

.live-feed-header-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 1.62rem;
  .lf-header,
  .lf-status,
  .lf-data-refresh {
    font-family: Nunito;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .lf-status-bop {
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      display: inline-block;
      border-radius: 50%;
      &.connecting {
        background: #e3a11e;
      }
      &.connected {
        background: #298e4c;
      }
      &.re-connecting {
        background: #e3a11e;
      }
      &.closed {
        background: #c21f1f;
      }
    }
  }
  .lf-status {
    transition: 0.2s ease all;
    text-transform: capitalize;
    cursor: pointer;
    &.connecting {
      color: #e3a11e;
    }
    &.connected {
      color: #298e4c;
    }
    &.re-connecting {
      color: #e3a11e;
    }
    &.closed {
      color: #c21f1f;
    }
  }
  .lf-header {
    color: #444;
  }
}

.vehicle-car-flags-container {
  margin-bottom: 1rem;
}
.vehicle-car-flags,
.vehicle-car-notes {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 1.6525rem;
  .vehicle-car-flag-item {
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    padding: 0.2625rem 0.5625rem;
    p {
      margin: 0;
      font-size: 0.7625rem;
    }
  }
}

.vehicle-car-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0.8525rem;
  p {
    margin: 0;
  }
  .author {
    font-size: 0.7625rem;
    color: #636363;
  }
  .date-authored {
    color: #9a9a9a;
  }
}

.no-flags {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 15px;
  color: #f56e9d;
  p {
    margin: 0;
    font-size: 0.7625rem;
  }
  svg {
    width: 10px;
  }
  .view-all-notes {
    margin-left: 1rem;
    text-decoration: underline !important;
    color: #777777;
    cursor: pointer;
  }
  margin-bottom: 0.5rem;
}

.stream-canva-box {
  height: 25.5rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lf-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.5625rem;
  font-size: 0.9825rem;
  font-weight: 500;
}

.lf-location {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 12px;
  .lf-location-items {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}
