@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/theme-variables.scss";

.lf-text-separator {
  background: #a6a6a6;
  width: 1px;
  height: 10px;
}

.live-feed-header-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 1.62rem;
  .lf-header,
  .lf-status,
  .lf-data-refresh {
    font-family: Nunito;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .lf-status-bop {
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      display: inline-block;
      border-radius: 50%;
      &.connecting {
        background: #e3a11e;
      }
      &.connected {
        background: #298e4c;
      }
      &.re-connecting {
        background: #e3a11e;
      }
      &.closed {
        background: #c21f1f;
      }
    }
  }
  .lf-header {
    color: #444;
  }
}

.vehicle-car-flags-container {
  margin-bottom: 1rem;
}
.vehicle-car-flags,
.vehicle-car-notes {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 1.6525rem;
  .vehicle-car-flag-item {
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    padding: 0.2625rem 0.5625rem;
    p {
      margin: 0;
      font-size: 0.7625rem;
    }
  }
}

.vehicle-car-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0.8525rem;
  p {
    margin: 0;
  }
  .author {
    font-size: 0.7625rem;
    color: #636363;
  }
  .date-authored {
    color: #9a9a9a;
  }
}

.no-flags {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 15px;
  color: #f56e9d;
  p {
    margin: 0;
    font-size: 0.7625rem;
  }
  svg {
    width: 10px;
  }
  .view-all-notes {
    margin-left: 1rem;
    text-decoration: underline !important;
    color: #777777;
    cursor: pointer;
  }
  margin-bottom: 0.5rem;
}

.stream-canva-box {
  height: 25.5rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media-container-box {
  width: 100%;
  height: 408px;
  img {
    object-fit: contain;
    min-width: 100%;
    // height: 16px !important;
  }
  position: relative;
  .nav-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 0 0.5rem;
    &.no-click {
      cursor: not-allowed;
    }
  }
  .nav-left {
    left: 0;
  }
  .nav-right {
    right: 0;
  }
}

.header-info-prop {
  text-align: right;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
  padding-bottom: 15px;
  gap: 80px;
  p {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
  }
  .icon-txt {
    display: flex;
    align-items: center;
    gap: 5px;
    p {
      @include themify($themes) {
        color: themed("colorText");
      }
    }
  }
  .cta-section {
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.media-nav-count {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  p {
    margin: 0;
    font-size: 0.8rem;
    @include themify($themes) {
      color: themed("colorText");
    }
  }
  .loader-box {
    width: 25px;
    height: 25.56px;
  }
}
