@import "../../../styles/theme-variables.scss";

.type-checkbox {
  .form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    flex: 1;
    // margin-bottom: 2.06rem;
  }
  label {
    color: #235a62;
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0.81rem;
  }
  .checkbox-content {
    display: flex;
    align-items: center;
    input {
      outline: #dbeaff;
      border-radius: 3px;
      height: 14px;
      width: 14px;
      background: none;
      @include themify($themes) {
        border: 1px solid themed("border");
      }
    }
    // input[type="checkbox"]:checked:after {
    //   content: "\f14a";
    //   color: #445867;
    // }
    // input[type="checkbox"],
    // input[type="radio"] {
    //   cursor: pointer;
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    //   // outline: 0;
    //   // font-family: "Font Awesome 5 Free";
    //   // font-weight: 700;
    //   // font-size: 16px;
    //   // line-height: 14px;
    // }
  }
}
