@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.subscriptions {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;

    .not-subscribed{

        .heading{
            display: flex;
            justify-content: center;
            position: relative;
            flex-direction: column;
            width: 80%;
            margin: auto;

            @media screen and (max-width:$md-breakpoint){
                text-align: center;
            }

            img{
                position: absolute;
                height: 180px;
                right: 1em;
                top: 0;

                @media screen and (max-width:$md-breakpoint){
                    position:relative;
                    height: 150px;
                }
            }

            h2{
                text-transform: uppercase;
            }
        }

        .subscribe-to{
            width: 80%;
            height: auto;
            min-height: 300px;
            // border: 1px solid rgba(102, 175, 233, 0.6);
            @include box-shadow;
            border-radius: 5px;
            margin: 40px auto;
            padding: 1em;
            position: relative;

            @media screen and (max-width:$md-breakpoint){
                width: 80%;
            };

            h3{
                letter-spacing: 1.1px;
                text-decoration: underline;
            }

            .bundle-info{
                p{
                    margin-left: 1em;

                    b{
                        font-size: 1.2em;
                    }
                }
            }

            .add-applications{
                margin-top: 40px;
                i{
                    margin-left: 1em;
                    font-size: .8em;
                }
            }

            .subscribe-btn{
                display: flex;
                justify-content: flex-end;

                button{
                    @include button($font-size: 1em);
                    margin: 1em;
                    
                }
            }

        }

        .select-another{
            text-align: center;

            .another-bundle{
                color: #E1AD01;
                cursor: pointer;
            }
        }
    }

    .subscribed{
        // margin: auto;
        // width: 80%;
        padding: 0 2em;

        .org-info{
            display: grid;
            grid-row: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 1em;
            margin-left: 1em;

            @media screen and (max-width:$md-breakpoint){
                grid-template-columns: 1fr;
            }

            .content{
                margin-bottom: 10px;
                .label{
                    font-size: 10px;
                    letter-spacing: 2px;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 0;
                }

                .text{
                    font-size: 12px;
                }
            }
        }

        .image-area{
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 300px;
                object-fit: cover;
            }
        }

        .add-applications{

            .add-apps-btn{

                button{
                    @include button($font-size: 1em);
                    margin: 1em;
                    
                }
            }

            .dont-worry{
                font-size: .8em;
                margin-left: 1em;
            }
        }

        .select-another{
            margin-top: 40px;
            text-align: end;

            .another-bundle{
                color: #E1AD01;
                cursor: pointer;
            }
        }
    }

};