@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tag-pill {
    border-radius:20px;
    padding: 5px 10px;
    width: max-content;
    margin:0;
    font-size:.7em;
    font-weight:700;
    margin: 0 5px;
}