@import "../../../styles/theme-variables.scss";

.type-button {
  button {
    display: inline-flex;
    padding: 1rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: #235a62;
    outline: none;
    color: #fff;
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
    &.disabled {
      background: #8f9194;
      cursor: not-allowed;
    }
    &.outlined {
      background: none;
      @include themify($themes) {
        color: themed("smallbtnboldcolor");
      }
      border: 1px solid #235a62;
    }
    &.danger {
      background: #faf5f7;
      color: #f56e9d;
      border: 1px solid #f56e9d;
    }
  }
}

.type-small-button {
  button {
    display: inline-flex;
    padding: 0.5rem 1.19rem;
    width: max-content;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    flex-shrink: 0;
    border-radius: 0.1875rem;
    @include themify($themes) {
      background: themed("smallbtnboldbg");
      color: themed("smallbtnboldcolor");
    }
    cursor: pointer;
    &.disabled {
      @include themify($themes) {
        background: themed("disabled");
      }
      cursor: not-allowed;
      opacity: 0.2;
    }
    &.outlined {
      background: none;
      color: #485e82;
      border: 1px solid #485e82;
    }
    &.danger {
      color: #f56e9d;
      @include themify($themes) {
        background: themed("smallbtndangerbg");
        border: 0.5px solid themed("smallbtndangerborder");
      }
    }
    &.active {
      color: #0f9979;
      background: #e8faf6;
    }
    &.status {
      cursor: default;
    }
  }
}
