@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.stats-card {
  height: auto;
  flex-shrink: 0;
  background-color: #fff;
  padding: 2.44rem 2.5rem;
  margin-bottom: 6.12rem;

  // .organization-section {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 1.62rem;
  //   p {
  //     margin: 0;
  //     color: #000;
  //     font-family: Manrope;
  //     font-size: 0.8125rem;
  //     font-style: normal;

  //     line-height: normal;
  //   }
  //   .title {
  //     letter-spacing: 0.065rem;
  //     font-weight: 300;
  //   }
  //   .hyphen {
  //     width: 0.56594rem;
  //     height: 0.0625rem;
  //     background: #000;
  //     margin: 0 0.44rem;
  //   }
  //   .value {
  //     color: #052d69;
  //     font-weight: 600;
  //   }
  // }

  .stats-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4.62rem;
    @media (max-width: $md-breakpoint) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 40px;
    }
    .stats-title {
      .title {
        color: #274169;
        font-family: Manrope;
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        margin-bottom: 0.56rem;
      }
      .description {
        color: #69696a;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
      }
    }
    .stats-date {
      display: flex;
      align-items: center;
      .date-content {
        margin-right: 1rem;
        text-align: right;
        p {
          margin: 0;
          color: #69696a;

          font-family: Manrope;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .last {
          color: #8f8f8f;
          font-size: 0.6875rem;
          font-weight: 400;
          margin-bottom: 0.31rem;
        }
      }
      @media (max-width: $md-breakpoint) {
        flex-direction: column-reverse;
        gap: 15px;
        .date-content {
          text-align: center;
          margin: 0;
        }
      }
    }
  }
  .stats {
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    justify-content: space-between;
    @media (max-width: $md-breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: 50px;
      .stats-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        svg {
          margin: 0 !important;
        }
      }
    }
    .stats-item {
      display: flex;
      width: 100%;
      svg {
        margin-right: 1.56rem;
      }
      .stats-data {
        p {
          margin: 0;
          margin-bottom: 0.5rem;
          color: #485e82;
          font-family: Manrope;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        h5 {
          margin: 0;
          color: #485e82;
          font-family: Manrope;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

.application-card {
  background-color: #fff;
  padding: 2.44rem 2.45rem;
  @media (max-width: $md-breakpoint) {
    padding: 2.44rem 1.45rem;
  }
  .application-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 4.5rem;
    .application-header-content {
      h3 {
        color: #274169;
        font-family: Manrope;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        margin-bottom: 0.75rem;
      }
      p {
        margin: 0;
        color: #69696a;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .application-cta {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
    }
  }
  .filter-section {
    padding: 2.44rem 0;
  }
}
