@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.right_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 90px;
  width: 50%;
  height: 100vh;
  z-index: 3;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.2s all ease-in;
  padding: 1.56rem 3.12rem 3.56rem;
  overflow: auto;
  &.menuclose {
    transform: translateX(100%);
  }
  &.menuopen {
    transform: translateX(0);
  }
  .rs-header {
    display: flex;
    align-items: center;
    padding-bottom: 1.56rem;
    border-bottom: 1px solid #dbeaff;
    h3 {
      margin: 0;
      color: #274169;
      font-family: Inter;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 1.94rem;
    }
    .ctas {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 25px;
    }
  }
  .rs-body {
    height: 65vh;
    overflow: auto;
    padding: 3.12rem 0 11rem;
  }
  @media (max-width: $lg-breakpoint) {
    width: -webkit-fill-available;
  }
  @media (max-width: $md-breakpoint) {
    padding: 1.56rem 1.5625rem 3.56rem;
  }
}
