@import "../../../../styles/theme-variables.scss";

.table-section {
  margin: 2rem 0;
  padding: 0.8525rem;
}

.cta-header-section {
  margin: 2rem 0;
  padding: 0.8525rem 0;
}

.filter-management-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.8625rem 0;
  gap: 20px;
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
}

.header-management {
  display: flex;
  align-items: center;
  gap: 20px;
  h1 {
    @include themify($themes) {
      color: themed("colorText");
    }
  }
}

.role-select-item-wrapper {
  padding: 0.3625rem;
  width: 100%;
  .select-item-content {
    display: flex;
    align-items: center;
    gap: 15px;
    p {
      margin: 0;
      font-size: 0.7625rem;
      @include themify($themes) {
        color: themed("colorText");
      }
    }
    .type-checkbox .form-container {
      margin: 0;
    }
    .type-checkbox .form-container .checkbox-content input {
      width: 12px;
      height: 12px;
    }
  }
}

.role-title {
  @include themify($themes) {
    color: themed("colorText");
  }
}

.close-container {
  cursor: pointer;
  width: max-content;
  height: auto;
  margin-left: 20px;
}

.grid-items {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  justify-content: space-between;
  gap: 5px;
}

.index-style {
  width: 20px;
  display: flex;
  align-items: center;
}
