@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.delete-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    button{
        @include button($font-size: .8em);
    }
}