@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.user-management{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .user-cta{
        display: flex;
        margin-bottom: 20px;
        button{
            @include button($font-size: .8em)
        }
    }
}

.create-user{

    .create-main{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 60%;
    }
}

.statusPill {
    border-radius:20px;
    padding: 5px 10px;
    width: max-content;
    margin:0;
    font-size:.7em;
    font-weight:700;
}