@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/theme-variables.scss";

.overview-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .video-section {
    width: 0;
    overflow: auto;
    max-height: 76vh;
    .video-cta-title {
      display: flex;
      align-items: center;
      margin-bottom: 1.0625rem;
      &.start {
        align-items: flex-start;
      }
      button {
        margin: 0;
        margin-left: auto;
        font-size: 0.7625rem;
        border: 0px solid #252323;
        padding: 0.2rem 0.4625rem;
        border-radius: 0.12625rem;
        @include themify($themes) {
          background: themed("colorBackground");
          color: themed("colorText");
        }
      }
    }
    .vehicle-init-props {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .camera-title {
      color: #2e1919;
      font-family: Nunito;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
    .table-container-section {
      overflow: auto;
    }
    .vehicle-cta-back {
      padding-bottom: 0.96525rem;
      margin-bottom: 1.6525rem;
      border-bottom: 1px solid #e8e8e8;
      button {
        outline: none;
      }
    }
    .vehicle-row-item {
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        cursor: default;
        outline: none;
      }
    }
  }
}

.live-feed-item-component {
  width: 415.53px;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-bottom: 1.25rem;
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
  .lf-media-section {
    width: 14.475rem;
    height: 11.8125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    overflow: hidden;
    background: #000;
    border: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .lf-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    width: 166px;
    flex: 1;
    height: 11.8125rem;
    flex-shrink: 0;
    .lf-info-section-label {
      @include themify($themes) {
        color: themed("themeColor");
      }
      font-family: Nunito;
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      &.flag {
        color: #f56e9d;
      }
    }
    .lf-info-section-value {
      @include themify($themes) {
        color: themed("infovalue");
      }
      font-family: Nunito;
      font-size: 0.815rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 0.88rem;
      &.lf-reg-number {
        letter-spacing: 0.40625rem;
        text-transform: uppercase;
        font-size: 1.1rem;
      }
    }
    .lf-info-bottom-value {
      margin: 0;
    }
    .lf-make-type {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 0.88rem;
      .lf-info-section-value {
        margin: 0;
        width: max-content;
      }
    }
    .lf-color {
      min-width: 0.875rem;
      min-height: 0.875rem;
      width: 0.875rem;
      height: 0.875rem;
      flex-shrink: 0;
      border-radius: 50%;
      &.border {
        border: 1px solid #e9e9e9;
      }
    }
  }
}

.lf-text-separator {
  background: #a6a6a6;
  width: 1px;
  height: 10px;
}

.live-feed-header-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 1.62rem;
  .lf-header,
  .lf-status,
  .lf-data-refresh {
    font-family: Nunito;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .lf-status-bop {
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      display: inline-block;
      border-radius: 50%;
      &.connecting {
        background: #e3a11e;
      }
      &.connected {
        background: #298e4c;
      }
      &.re-connecting {
        background: #e3a11e;
      }
      &.closed {
        background: #c21f1f;
      }
    }
  }
  .lf-header {
    @include themify($themes) {
      color: themed("colorText");
    }
  }
}

.live-feed-filter-section {
  margin-bottom: 0.925rem;
  display: flex;
  align-items: center;
  gap: 30px;
  p {
    @include themify($themes) {
      color: themed("colorText");
    }
    margin: 0;
    font-size: small;
  }
  button {
    color: #909090;
    border: 1px solid #909090;
    background: none;
    width: max-content;
    height: max-content;
    border-radius: 25px;
    padding: 0.44rem 1.1325rem;
    font-size: 0.6625rem;
    font-family: Nunito;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s ease all;
    outline: none;
    &.active {
      @include themify($themes) {
        background: themed("themeColor");
        border: 1px solid themed("themeColor");
        color: themed("border");
      }
      cursor: default;
      border: none;
    }
  }
}

.no-feeds {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2rem 0 2rem 1.2rem;
  p {
    margin: 0;
    color: #898989;
    font-size: small;
  }
}

.p-btn-status {
  margin: 0;
  margin-left: auto;
  font-size: 0.7625rem;
  border: 1px solid #252323;
  padding: 0.2rem 0.4625rem;
  cursor: pointer;
  &.success {
    background: #f5fbf7;
    color: #16612d;
    border: 1px solid #16612d;
    margin-left: 0;
  }
  &.danger {
    background: #faf5f7;
    color: #f56e9d;
    border: 1px solid #f56e9d;
    margin-left: 0;
  }
  &.warning {
    border: 1px solid #e3a11e;
    color: #e3a11e;
    background: #faf9f6;
    margin-left: 0;
  }
  &.no-btn {
    cursor: default;
    margin-left: 0;
  }
  &.hide-btn {
    display: none;
  }
}

.vehicle-car-flags-container {
  margin-bottom: 1rem;
}
.vehicle-car-flags,
.vehicle-car-notes {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 1.6525rem;
  .vehicle-car-flag-item {
    border: 1px solid #d6d6d6;
    border-radius: 25px;
    padding: 0.2625rem 0.5625rem;
    p {
      margin: 0;
      font-size: 0.7625rem;
    }
  }
}

.vehicle-car-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0.8525rem;
  p {
    margin: 0;
  }
  .author {
    font-size: 0.7625rem;
    color: #636363;
  }
  .date-authored {
    color: #9a9a9a;
  }
}

.no-flags {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 15px;
  color: #f56e9d;
  p {
    margin: 0;
    font-size: 0.7625rem;
  }
  svg {
    width: 10px;
  }
  .view-all-notes {
    margin-left: 1rem;
    text-decoration: underline !important;
    color: #777777;
    cursor: pointer;
  }
  margin-bottom: 0.5rem;
}

.video-section-header-tab {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 0.9625rem;
  button {
    margin: 0;
    border: 1px solid #909090;
    color: #909090;
    background: none;
    width: max-content;
    padding: 0.3625rem 0.6325rem;
    border-radius: 3px;
    transition: 0.2s ease;
    font-size: 0.5625rem;
    cursor: pointer;
    &.active {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      cursor: default;
    }
  }
}

.stream-canva-box {
  height: 25.5rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-section {
  .tab-header {
    @include themify($themes) {
      border-bottom: 1px solid themed("tabBorder");
    }
    margin: 0 0 1.7rem;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    .tab-item {
      border-bottom: 3px solid transparent;
      padding: 0.8625rem 0.3625rem;
      cursor: pointer;
      transition: 0.2s ease all;
      flex-shrink: 0;
      p {
        color: #909090;
        font-family: Nunito;
        font-size: 0.7125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
        text-transform: uppercase;
      }
      &.active {
        @include themify($themes) {
          border-bottom: 3px solid themed("tabBorder");
        }
        cursor: default;
        p {
          @include themify($themes) {
            color: themed("themeColor");
          }
        }
      }
    }
  }
  .tab-body {
    padding: 0 1.06rem;
  }
}

.lf-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.5625rem;
  font-size: 0.9825rem;
  font-weight: 500;
}

.lf-location {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 12px;
  .lf-location-items {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.no-data-txt {
  font-size: 15px;
  margin: 0;
  color: #636363;
}
