@import "../../../styles/variables.scss";

.page_layout {
    height: 100vh;
    .contents {
        height: 100%;
        &.fitContent {
            @media screen and (min-width:$md-breakpoint){
                height: calc(100% - 102.59px);
            }
        }
    }
}