@import "../../../styles/variables.scss";

.page_layout {
    &.fitContent {
        min-height: auto;
        @media screen and (min-width:$md-breakpoint){
            height: calc(100vh - 102.59px);
        }
    }
    .contents {
        height: 100%;
    }
}