$themes: (
  light: (
    colorHeaderFooter: #fff,
    colorText: #000,
    colorBackground: #f8f8f8,
    sideBarTxt: #8f8f8f,
    sideBarTxtActive: #235a62,
    sideBarTxtHover: #f6fafe,
    themeColor: #235a62,
    border: #dedede,
    typeborder: #a4b0b3,
    focus: #235a62,
    tabBorder: #3d7a84,
    smallbtnboldbg: #edf5ff,
    smallbtnboldcolor: #485e82,
    svgnav: #000,
    smallbtndangerbg: #faf5f7,
    smallbtndangerborder: none,
    infovalue: #2e1919,
    feedbg: #fff,
    cardbg: #fff,
    tag: #252323,
    tagsuccess: #16612d,
    tagbgsuccess: #f5fbf7,
    tagdanger: #f56e9d,
    tagbgdanger: #faf5f7,
    tagwarning: #e3a11e,
    tagbgwarning: #faf9f6,
    regnumber: #8d1d1d,
    tdcolor: #5b5b5b,
    author: #636363,
  ),
  dark: (
    colorHeaderFooter: #36394c,
    colorText: #eff2f7,
    // colorBackground: #222736,
    // colorBackground: #15181e,
    // colorBackground: #0e0f13,
    colorBackground: #0e1116,
    sideBarTxt: #8f8f8f,
    sideBarTxtActive: #fff,
    sideBarTxtHover: #235a62,
    themeColor: #fff,
    border: #253a3e,
    typeborder: #253a3e,
    focus: #235a62,
    tabBorder: #235a62,
    smallbtnboldbg: #235a62,
    smallbtnboldcolor: #ebeef4,
    svgnav: #2e8b99,
    smallbtndangerbg: none,
    smallbtndangerborder: #4e4141,
    infovalue: #bdecf3,
    // feedbg: #1e2330,
    // feedbg: #232b3f,
    // feedbg: #0e0f13,
    feedbg: #17212e,
    cardbg: #172638,
    // feedbg: #0c1118,
    tag: #9ba2b5,
    tagsuccess: #16612d,
    tagbgsuccess: none,
    tagdanger: #f56e9d,
    tagbgdanger: none,
    tagwarning: #e3a11e,
    tagbgwarning: none,
    regnumber: #c29393,
    tdcolor: #bdecf3,
    author: #e6dfdf,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}
