@import "../../styles/theme-variables.scss";

.main-page {
  min-height: 100vh;
  @include themify($themes) {
    background: themed("colorBackground");
  }
  padding: 7.12rem 0 0;

  .pg-container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
  }
}

.svg-default {
  @include themify($themes) {
    fill: themed("themeColor");
  }
}
.svg-nav {
  @include themify($themes) {
    fill: themed("svgnav");
  }
}

.card-section {
  border-radius: 0.5625rem;
  padding: 10px 0 25px;
  @include themify($themes) {
    background: themed("feedbg");
    border: 1px solid themed("border");
  }
}
