@use '../../assets/styles/theme-variables' as theme;

.footer_main {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  box-sizing: border-box;
  @include theme.themify(theme.$themes) {
    background: theme.themed('colorBackground');
    color: theme.themed('colorText');
  }
  text-align: center;
  margin-top: auto;
}
