@use '../../assets/styles/theme-variables' as theme;

.page_layout {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  @include theme.themify(theme.$themes) {
    background: theme.themed('colorBackground');
  }

  &.fitContent {
    min-height: 100vh;
  }
  .contents {
    height: 100%;
    @include theme.themify(theme.$themes) {
      background: theme.themed('colorBackground');
    }
  }
}

.pre-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background: rgba(255, 255, 255, 0.05);
  p {
    margin: 0;
    @include theme.themify(theme.$themes) {
      color: theme.themed('colorText');
    }
  }
}
