@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.app-form {
  .form-content {
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    justify-content: space-between;
    gap: 30px;
    &.fm-separator {
      padding-bottom: 1rem;
      border-bottom: 1px solid #dbeaff;
      margin-bottom: 2.06rem;
    }
    @media (max-width: $md-breakpoint) {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
    }
  }
  .allowed-scope {
    border-bottom: 1px solid #dbeaff;
    margin: 3.12rem 0;
    h3 {
      margin: 0;
      color: #274169;
      font-family: Manrope;
      font-size: 0.925rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 0.75rem;
    }
    p {
      margin: 0;
      color: #69696a;
      font-family: Manrope;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 1.56rem;
    }
  }
}

.api-scope-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.19rem;
  input[type="checkbox"] {
    margin-right: 1rem;
  }
  .api-scope-content {
    h6 {
      margin: 0;
      color: #375c94;
      font-family: Manrope;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0.75rem;
    }
    .api-scope-description {
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      max-width: 250px;
      svg {
        margin-top: 0.2rem;
        margin-right: 0.98rem;
        transition: 0.2s ease;
        &.open {
          transform: rotate(90deg);
        }
      }
      p {
        margin: 0;
        color: #69696a;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        &.open {
          text-overflow: unset;
          overflow: visible;
          white-space: normal;
        }
      }
    }
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 35px;
}

.view-content-item {
  label {
    color: #375c94;
    font-family: Manrope;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  p {
    margin: 0;
    color: #274169;
    font-family: Manrope;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.84rem;
    margin-bottom: 1.16rem;
  }
  &.api-keys-section {
    margin: 2.19rem 0 2.12rem;
    border-bottom: 1px solid #dbeaff;
    .content-value {
      margin-bottom: 0.22rem;
    }
    .api-keys-prompt {
      display: flex;
      align-items: center;
      margin-bottom: 3.12rem;
      svg {
        margin-right: 0.56rem;
      }
      p {
        margin: 0;
        color: #69696a;
        font-family: Manrope;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}
