.accordion {
  border-bottom: 1px solid #dbeaff;
  .accordionitem {
    height: auto;
    // border-top: 1px solid #dbeaff;
    border-bottom: 1px solid #dbeaff;
    &.islast {
      border-bottom: none;
    }
    .accordionheader {
      height: 2.65rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.4825rem;
      .accordionheadertext {
        display: flex;
        align-items: center;
        gap: 10px;
        p {
          font-size: clamp(0.625rem, -0.875rem + 8.333vw, 0.8625rem);
          margin: 0;
          text-transform: capitalize;
        }
        svg {
          width: 10px;
        }
      }
      &.active {
        border-bottom: 1px solid #dbeaff;
        margin-bottom: 2.1425rem;
      }
      cursor: pointer;
      svg {
        width: clamp(0.625rem, -0.875rem + 8.333vw, 1rem);
      }
    }
    .accordionbody {
      padding: 0;
      height: 0;
      overflow: hidden;
      &.active {
        padding: 1.4825rem 2.3825rem;
        padding-top: 0;
        height: auto;
        overflow: visible;
        ul {
          margin: 0;
          padding: 0;
          li {
            padding: 0.3625rem;
            p {
              margin: 0;
              font-size: 0.8625rem;
              font-size: clamp(0.425rem, -0.875rem + 8.333vw, 0.8625rem);
            }
          }
        }
      }
    }
  }
}

.nodata {
  color: #9b9b9b;
}
