@import '../../styles/mixins.scss';
@mixin box-shadow($color: #66afe9) {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade-out($color, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade-out($color, 0.6);
}

.options {
    width: 100%;
    position: relative;

    .password-input-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;

        .code-dropdown{
            position: absolute;
            left: 0;
            height: 100%;
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 .5em;
            cursor: pointer;
            border-radius: .2em;
            
            @media screen and (max-width:$md-breakpoint){
                padding: 0 1em;
            }

            &:hover{
                transition: .4s ease-in-out;
            }

            img{
                height: 30px;
            }

            i{
                padding-left: 5px;
            }
        }

        input{
            @include input;
            padding-left: 55px !important;
            box-sizing: border-box;
        }

    }

    .options-box{

        ul{
            position: absolute;
            width: 200px;
            background-color: #f8f8f8;
            list-style: none;
            margin-block-start: 0;
            padding: 1em;
            border-radius: 0 0 .5em .5em;
            z-index: 150;
            left: 0;
            font-size: 10px;
            height: auto;
            max-height: 200px;
            overflow: auto;

            input{
                @include input;
                height: 20px;
                font-size: 10px;
            }

            li{
                padding: .5em;
                text-decoration: none;
                cursor: pointer;
                
                &:hover{
                    @include box-shadow();
                    font-weight: 500;
                }
            }

            &::-webkit-scrollbar{
                transition: .4s ease-in-out;
                width: 5px  !important; 
                height: 5px  !important; 
            }
        
            &::-webkit-scrollbar-track{
                transition: .4s ease-in-out;
                background: #fff;
            }
            
            &::-webkit-scrollbar-thumb{
                background: #1D2A3B;
                border-radius: 5px;
            }
        }
    }
}