@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.application-card {
  background-color: #fff;
  padding: 2.44rem 2.45rem;
  @media (max-width: $md-breakpoint) {
    padding: 2.44rem 1.45rem;
  }
  .application-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 4.5rem;
    .application-header-content {
      h3 {
        color: #274169;
        font-family: Inter;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        margin-bottom: 0.75rem;
      }
      p {
        margin: 0;
        color: #69696a;
        font-family: Inter;
        font-size: 0.8125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .application-cta {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
    }
  }
  .tab-section {
    padding: 2.64rem 0 0;
    .tab-header {
      display: flex;
      align-items: center;
      gap: 45px;
      border-bottom: 1px solid #dbeaff;
      margin-bottom: 3.06rem;

      .tab-item {
        width: max-content;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        p {
          margin: 0;
          color: #798ca7;
          font-family: Inter;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 1rem;
          transition: 0.2s ease;
        }
        .tab-bar {
          width: 100%;
          height: 0.1875rem;
          background: none;
          transition: 0.2s ease;
        }
        &.active {
          p {
            color: #06679e;
            font-weight: 500;
          }
          .tab-bar {
            background: #06679e;
          }
        }
      }
    }
    @media (max-width: $md-breakpoint) {
      overflow: auto;
      .tab-header {
        overflow: auto;
        .tab-item {
          flex-shrink: 0;
        }
      }
    }
  }
}
