@import "../../styles/theme-variables.scss";

.no-video-selected-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  // padding: 10rem 0;
  overflow: hidden;
  border-radius: 1.5625rem;
  @include themify($themes) {
    border: 1px solid themed("border");
  }
  min-height: 400px;
  p {
    color: #909090;
    font-family: Nunito;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    &.empty-message {
      color: #f56e9d;
    }
  }
}

.map-section {
  width: 100%;
  padding-right: 30px;
  overflow: auto;
  max-height: 95vh;
  .video-cta-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.4625rem;
    &.start {
      align-items: flex-start;
    }
  }
  .vehicle-init-props {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .camera-title {
    color: #2e1919;
    font-family: Nunito;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
  .table-container-section {
    overflow: auto;
  }
  .vehicle-cta-back {
    padding-bottom: 0.96525rem;
    margin-bottom: 1.6525rem;
    border-bottom: 1px solid #e8e8e8;
    button {
      outline: none;
    }
  }
  .vehicle-row-item {
    display: flex;
    align-items: center;
    gap: 20px;
    button {
      cursor: default;
      outline: none;
    }
  }
}

.location-map-icon {
  cursor: pointer;
  svg {
    width: 15px;
    height: auto;
  }
}

.media-container {
  border-radius: 1.5625rem;
  background: none;
  @include themify($themes) {
    border: 1px solid themed("border");
  }
  &.hide {
    border: none;
  }
  overflow: hidden;
  margin: 0 0 1.3rem;
  display: flex;
  justify-content: center;
  .media-box {
    width: 100%;
    height: 25.5rem;
    &.hide {
      display: none;
    }
    .stream-canva-box,
    video,
    img {
      height: 25.5rem;
      width: 100%;
      object-fit: contain;
    }
  }
}

.vehicle-info-section {
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 3rem;
}

.vehicle-info-section-item {
  .vehicle-info-label {
    @include themify($themes) {
      color: themed("themeColor");
    }
    font-family: Nunito;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 1rem;
  }
  .vehicle-info-value {
    @include themify($themes) {
      color: themed("infovalue");
    }
    font-family: Nunito;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.reg-number {
      letter-spacing: 0.55rem;
      @include themify($themes) {
        color: themed("regnumber");
      }
    }
    &.status-text {
      width: max-content;
    }
    &.overflow {
      text-overflow: unset;
      white-space: unset;
      overflow-wrap: break-word;
      overflow: visible;
    }
  }
  .vehicle-info-color {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    &.border {
      border: 1px solid #e8e8e8;
    }
  }
}

.stream-section {
  min-width: 451.44px;
  width: 451.44px;
  margin-left: 15px;
  border-radius: 1.01625rem;
  @include themify($themes) {
    border: 1px solid themed("border");
    background: themed("feedbg");
  }
  .live-feed-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6725rem 0 1rem;
    height: 82vh;
    overflow: auto;
    .live-feed-component-wrapper {
      overflow: auto;
      max-height: 69vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.video-section,
.no-video-selected-section {
  flex: 1;
  width: 100%;
}

.map-feed-item-component {
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  width: 415.53px;
  align-items: center;
  padding-bottom: 0.3rem;
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
  .lf-media-section {
    width: 198px;
    height: 9.8125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    overflow: hidden;
    background: #000;
    border: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .lf-info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
    flex: 1;
    height: 11.8125rem;
    width: 202px;
    flex-shrink: 0;
    .lf-info-section-label {
      @include themify($themes) {
        color: themed("themeColor");
      }
      font-family: Nunito;
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
      &.flag {
        color: #f56e9d;
      }
    }
    .lf-info-section-value {
      @include themify($themes) {
        color: themed("infovalue");
      }
      font-family: Nunito;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 0 0.88rem;
    }
  }
}

.lf-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.5625rem;
  font-size: 0.9825rem;
  font-weight: 500;
  @include themify($themes) {
    color: themed("infovalue");
  }
}

.lf-location {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 12px;
  @include themify($themes) {
    color: themed("themeColor");
  }
  .lf-location-items {
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.overview-page {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.lf-status {
  transition: 0.2s ease all;
  text-transform: capitalize;
  cursor: pointer;
  &.connecting {
    color: #e3a11e;
  }
  &.connected {
    color: #298e4c;
  }
  &.re-connecting {
    color: #e3a11e;
  }
  &.closed {
    color: #c21f1f;
  }
}

.live-feed-header-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 1.62rem;
  .lf-header,
  .lf-status,
  .lf-data-refresh {
    font-family: Nunito;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    .lf-status-bop {
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      display: inline-block;
      border-radius: 50%;
      &.connecting {
        background: #e3a11e;
      }
      &.connected {
        background: #298e4c;
      }
      &.re-connecting {
        background: #e3a11e;
      }
      &.closed {
        background: #c21f1f;
      }
    }
  }
  .lf-header {
    color: #444;
  }
}

.lf-text-separator {
  background: #a6a6a6;
  width: 1px;
  height: 10px;
}

.stream-canva-box {
  height: 25.5rem;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media-container-box {
  width: 100%;
  height: 408px;
  img {
    object-fit: contain;
    min-width: 100%;
  }
  position: relative;
  .nav-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 0 0.5rem;
    &.no-click {
      cursor: not-allowed;
    }
  }
  .nav-left {
    left: 0;
  }
  .nav-right {
    right: 0;
  }
}

.separator {
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
}

.header-info-prop {
  text-align: right;
  margin: 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include themify($themes) {
    border-bottom: 1px solid themed("border");
  }
  padding-bottom: 15px;
  gap: 20px;
  p {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
  }
  .icon-txt {
    display: flex;
    align-items: center;
    gap: 5px;
    p {
      @include themify($themes) {
        color: themed("colorText");
      }
    }
  }
  .cta-section {
    // margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.media-nav-count {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  p {
    margin: 0;
    font-size: 0.8rem;
    @include themify($themes) {
      color: themed("colorText");
    }
  }
  .loader-box {
    width: 25px;
    height: 25.56px;
  }
}

.tab-section {
  border-radius: 0.5625rem;
  padding: 10px 0 25px;
  @include themify($themes) {
    background: themed("feedbg");
    border: 1px solid themed("border");
  }
  .tab-header {
    @include themify($themes) {
      border-bottom: 1px solid themed("tabBorder");
    }
    margin: 0 0 1.7rem;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: auto;
    .tab-item {
      border-bottom: 3px solid transparent;
      padding: 0.8625rem 0.3625rem;
      cursor: pointer;
      transition: 0.2s ease all;
      flex-shrink: 0;
      p {
        color: #909090;
        font-family: Nunito;
        font-size: 0.7125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0;
        text-transform: uppercase;
      }
      &.active {
        @include themify($themes) {
          border-bottom: 3px solid themed("tabBorder");
        }
        cursor: default;
        p {
          @include themify($themes) {
            color: themed("themeColor");
          }
        }
      }
    }
  }
  .tab-body {
    padding: 0 1.06rem;
  }
}

.button-action {
  margin: 0;
  border: 1px solid #909090;
  color: #909090;
  background: none;
  width: max-content;
  padding: 0.3625rem 0.6325rem;
  border-radius: 3px;
  transition: 0.2s ease;
  font-size: 0.7625rem;
}

.video-section-header-tab {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 0 !important;
  button {
    margin: 0;
    border: 1px solid #909090;
    color: #909090;
    background: none;
    width: max-content;
    padding: 0.3625rem 0.6325rem;
    border-radius: 3px;
    transition: 0.2s ease;
    font-size: 0.5625rem;
    cursor: pointer;
    &.active {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      cursor: default;
    }
    &.show-hide-media {
      border: 0;
      margin-left: auto;
    }
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.text-color {
  @include themify($themes) {
    color: themed("themeColor");
  }
}

.vehicle-car-notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0.8525rem;
  @include themify($themes) {
    color: themed("colorText");
  }
  p {
    margin: 0;
  }
  .author {
    font-size: 0.7625rem;
    @include themify($themes) {
      color: themed("author");
    }
  }
  .date-authored {
    color: #9a9a9a;
  }
}

.form-body {
  border-radius: 0.5625rem;
  padding: 10px 0 25px;
  @include themify($themes) {
    background: themed("feedbg");
    border: 1px solid themed("border");
  }
}

.text-color {
  @include themify($themes) {
    color: themed("colorText");
  }
}

.text-color-label {
  @include themify($themes) {
    color: themed("themeColor");
  }
}
