
.main-carousel {
    height:auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;

    .left-arrow, .right-arrow {
        padding: 20px;
        cursor: pointer;
        i{
            font-size: 24px;
            color: #0F1225;

            &:hover {
                color: #5d77fc;
                transform: scale(1.2);
                transition: ease-in-out .6s;
            }
        }
    }

    .image {
        justify-content: center;
        margin: auto;
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: 350px;
        }

        video{
            height: 90%;
            object-fit: cover;
        }

        .image-info {
            // position: absolute;
            bottom: 0;
            color: #0F1225;
            font-size: .7em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px auto 0;

            // margin-bottom: 5px;
        }

        .download-container{
            display : flex;
            justify-content: space-between;
            align-items: center;
            width: max-content;
            height: max-content;
            margin: 10px auto;
        }

        .space{
            margin: 0 10px;
        }
    }
       
}