

.clear-search-container {
    display:flex; 
    align-items:center; 
    justify-content:flex-start;

    .clear-search-content {
        display:flex;
        align-items:center;
        justify-content:flex-start;
        width:max-content;
        white-space:nowrap; 
        transition: .4s all ease;
        cursor:pointer;

        &:hover{
            color: #5d77fc;
        }

        .btn{
            width : max-content;
            height : max-content;
            padding : 0;
            background: none;
            text-transform : unset;
            display:flex;
            align-items:center;
            justify-content:center;
            &:hover{
                background: none;
            }

            i{
                margin-left : 10px;
            }
        }
    }
}